doctype html

html(lang='ru')
  head
    meta(charset='UTF-8')
    title Exness
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href='assets/stylesheets/index.css', type='text/css', rel='stylesheet')
    link(href='resources/images/favicon.ico', rel='shortcut icon')

  body
    include ../partials/header
