include ../helpers/lib.pug

.page-content
  .main-feature
    .main-feature__transfer-fee
      .main-feature__heading Для всех типов счетов
      .main-feature__logo
        img.main-feature__image(src='assets/images/zero.svg' alt='0% Комиссия за переводы')
      .main-feature__annotation Комиссия за переводы
    .main-feature__full-description
      p.main-feature__text Выводя со счета форекс-брокера EXNESS $1000, вы получаете на свой кошелек или банковский счет ровно 1000$
  .payment-systems-info
    h3.payment-systems-info__heading Доступные платежные системы
    ul.payment-systems.payment-systems-info__list
      each value in psystems
        li.payment-systems__item
          a.payment-systems__link(href=value.url)
            img.payment-systems__logo(src=value.image alt=value.title)
  .open-account
    form.form.open-account__form
      input.form__input(type='tel' placeholder='Мобильный телефон')
      input.form__input(type='email' placeholder='Адрес электронной почты')
      button.form__button(type='button') Открыть счет
      
