header.page-header
  .page-header__layout
    .page-header__top
      a.logo.page-header__logo(href='#')
        img(
          src='assets/images/logo.svg'
          alt='Exness'
          title='Exness'
        )
      ul.lang-switcher.page-header__lang
        li.lang-switcher__item
          a.lang-switcher__link(href='#') русский
      a.page-header__link(href='#') Сайт exness
    .info.page-header__info
      .info__content
        p.info__message-text.info__message-text--primary Подлинная свобода распоряжения своими средствами на Форекс
        p.info__message-text.info__message-text--secondary Пополняйте счет и выводите прибыль без комиссии
      .info__action
        a.button(href='#') Пополнить счет
