.page-header {
  background: url(../images/back_null_percents.jpg) no-repeat;
  background-position: 80% center;
  background-size: cover;

  &__layout {
    width: 100%;
    padding: 24px;
  }

  &__top {
    display: flex;
    flex-direction: row;
  }

  &__logo {
    margin-right: auto;
  }

  &__info {
    padding-top: 175px;
  }

  &__lang {
    display: none;
  }

  &__link {
    display: none;
  }

  @include mq($from: desktop) {
    background-position: center;

    &__layout {
      max-width: $wide-width;
      margin: auto;
      padding: 48px 56px;
    }

    &__info {
      padding-top: 145px;
    }

    &__lang {
      display: block;
    }

    &__link {
      display: block;
      height: 40px;
      position: relative;
      font-size: 11px;
      font-family: $font-regular;
      line-height: 40px;
      color: $tangerine-yellow;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}

.info {

  &__message-text {
    font-family: $font-extra-light;
    margin: 20px 0;

    &--primary {
      font-size: 40px;
      color: $white;
      line-height: 1.2;
    }

    &--secondary {
      font-size: 24px;
      color: $light-grey;
      line-height: 1.34;
    }

  }

  &__action {
    padding: 8px 0;
  }

  @include mq($from: desktop) {
    &__message-text {
      margin: 15px 0;

      &--primary {
        font-size: 66px;
        line-height: 1.1;
      }

      &--secondary {
        font-size: 30px;
      }
    }

    &__action {
      padding: 20px 0;
    }
  }
}

.button {
  display: block;
  position: relative;
  width: 350px;
  font-size: 11px;
  font-family: $font-regular;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 72px;
  color: $black;
  background-color: $tangerine-yellow;
  padding-left: 32px;
  letter-spacing: 0.1em;

  &:after {
    content: '';
    display: block;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    height: 24px;
    width: 24px;
    background: url(../images/arrow@2x.png) no-repeat;
    background-size: contain;
  }

  @include mq($from: desktop) {
    width: 304px;

    &:after {
      right: 25px;
    }
  }
}

.lang-switcher {
  list-style-type: none;
  margin: 0 60px;
  padding: 0;

  &__link {
    display: block;
    position: relative;
    height: 40px;
    font-size: 11px;
    font-family: $font-regular;
    line-height: 40px;
    color: $white;
    text-decoration: none;
    text-transform: uppercase;

    &:after {
      content: '';
      display: inline-block;
      position: absolute;
      right: -20px;
      top: 50%;
      transform: translateY(-75%) rotate(45deg);
      border: solid $light-grey;
      border-width: 0 2px 2px 0;
      padding: 3px;
    }
  }
}
