@font-face {
    font-family: "CirceRegular";
    src: url("../fonts/CirceRegular/CirceRegular.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "CirceLight";
    src: url("../fonts/CirceLight/CirceLight.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "CirceExtraLight";
    src: url("../fonts/CirceExtraLight/CirceExtraLight.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "CirceBold";
    src: url("../fonts/CirceBold/CirceBold.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}
